[submodule "deps/GameNetworkingSockets"]
	path = deps/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "deps/filament"]
	path = deps/filament
	url = https://github.com/google/filament.git
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "deps/string-view-lite"]
	path = deps/string-view-lite
	url = https://github.com/martinmoene/string-view-lite.git
[submodule "deps/v8-cmake"]
	path = deps/v8-cmake
	url = https://github.com/bnoordhuis/v8-cmake.git
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
